<!DOCTYPE html>
<html lang="en" xmlns:th="htttp://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>BookShop</title>
    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="nav-link" th:href="@{'/'}"> <i class="fas fa-home mx-1"></i> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topnav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/author'}">Authors</a>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" th:href="@{'/book/getAvailable'}">Books available</a>-->
<!--                </li>-->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/book/getAvailable/0'}">Books available</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/book'}">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/category'}">Categories</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto topnav">
                <li class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'/basket/myBasket'}">
                        <i class="fa-solid fa-cart-shopping"></i> My Basket
                    </a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'/user/form'}">
                        <i class="fas fa-user-plus"></i> Register
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="panel panel-default">
    <div class="panel-heading text-center mt-3">
        <h3>Total cost <span th:text="${basket.cost} + ' lei'"></span></h3>
    </div>
    <div class="panel-body text-center">
        <div class="row justify-content-center">
            <div class="panel-body text-center">
                <button class="btn btn-primary mt-3" onclick="window.location.href='http://localhost:8080/basket/sentOrder'">Sent</button>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <table class="table table-hover ">
        <thead class="thead-inverse">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Copies</th>
            <th>Add one</th>
            <th>Delete one</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tr th:each="book, stat : ${books}"
            th:class="${stat.odd}? 'table-light':''">
            <td th:text="${book.name}">1</td>
            <td th:text="${book.price} + ' LEI'">20.1</td>
            <td th:text="${book.copies}">2000</td>
            <td><a href="#" th:href="@{'/basket/addBookToBasket/' + ${book.id} +'/' + ${basket.id}}"><i class="fa-solid fa-plus"></i></a></td>
            <td><a href="#" th:href="@{'/basket/decrementBookFromBasket/' + ${book.id} +'/' + ${basket.id}}"><i class="fa-solid fa-minus"></i></a></td>
            <td><a href="#" th:href="@{'/basket/removeBookFromBasket/' + ${book.id} +'/' + ${basket.id}}"><i class="fa-solid fa-trash"></i></a></td>
        </tr>
    </table>
</div>



</body>
</html>