<!DOCTYPE html>
<html lang="en" xmlns:th="htttp://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>BookShop</title>
    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="nav-link" th:href="@{'/'}"> <i class="fas fa-home mx-1"></i> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topnav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/book/getAvailable/0'}">Books available</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/book'}">Books</a>
                </li>

            </ul>
            <ul class="navbar-nav ms-auto topnav">
                <li sec:authorize="hasAnyRole('ADMIN','USER')" class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'/basket/myBasket'}">
                        <i class="fa-solid fa-cart-shopping"></i> My Basket
                    </a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'/login'}">
                        <i class="fas fa-sign-in-alt"></i> Sign In
                    </a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'/user/form'}">
                        <i class="fas fa-user-plus"></i> Register
                    </a>
                </li>
                <li sec:authorize="hasAnyRole('ADMIN','USER')" class="nav-item">
                    <form id="logout-form" th:action="@{/logout}" method="post">
                        <button type="submit" class="nav-link btn-primary">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="panel panel-default">
    <div class="panel-heading text-center mt-3">
        <h3>Available books</h3>
    </div>
</div>
<br>

<div class="row justify-content-center">
    <div class="col-md-5">
        <form th:action="@{/book/getBooksByCategory}" th:method="GET">
            <label for="categorySelect">Categories</label>
            <select id="categorySelect" name="selectedCategory">
                <option value="" >Select a category</option>
                <option th:each="category : ${categoriesAll}" th:value="${category}" th:text="${category}"></option>
            </select>
            <button class="btn btn-primary" type="submit">Go to Selected Category</button>
        </form>
    </div>
</div>


<div class="container">
    <table class="table table-hover ">
        <thead class="thead-inverse">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Year</th>
            <th>Volume</th>
            <th>Series Name</th>
            <th>Name Author</th>
            <th></th>
            <th>Book Categories</th>
            <th>Add to cart</th>
        </tr>
        </thead>
        <tr th:each="book, stat : ${books}"
            th:class="${stat.odd}? 'table-light':''">
            <td th:text="${book.name}">1</td>
            <td th:text="${book.price} + ' LEI'">20.1</td>
            <td th:text="${book.year}">2000</td>
            <td th:text="${book.volume}">1</td>
            <td th:text="${book.series_name}">Series 1</td>
            <td th:if="${book.author_name != null}" th:text="${book.author_name}">Author Name</td>
            <td th:unless="${book.author_name != null}">No Author</td>
            <td th:if="${book.author_name != null}"><a href="#" th:href="@{'/book/getBooksByAuthor/' + ${book.author_name}}"><i class="fa-solid fa-magnifying-glass"></i></a></td>
            <td th:unless="${book.author_name != null}">No Author</td>
            <td th:text="${book.categories}">Categories</td>
<!--            <td>-->
<!--                <span th:if="${book.bookCategories.size() > 0}" th:with="categoryNames=${''}">-->
<!--                    <span th:each="category : ${book.bookCategories}">-->
<!--                        <span th:text="${category.name}" th:remove="tag"></span>-->
<!--                        <span th:if="${!category.equals(book.bookCategories[book.bookCategories.size() - 1])}">,</span>-->
<!--                    </span>-->
<!--                </span>-->
<!--            </td>-->
<!--            <td th:unless="${book.bookCategories != null}">No Categories</td>-->
            <td><a href="#" th:href="@{'/basket/addBookToBasket/' + ${book.id} +'/' + ${basket.id}}"><i class="fa-solid fa-cart-plus"></i></a></td>

        </tr>
    </table>
</div>
<div th:if="${nrAvailable!=0}" style="text-align: center;">
    <span th:each="pageNumber : ${#numbers.sequence(0, totalPages-1)}">
        <a th:href="@{'/book/getAvailable/' + ${pageNumber}}" style="text-decoration: none;" >[[${pageNumber}+1]]</a>&nbsp;&nbsp;
    </span>
</div>

</body>
</html>