<!DOCTYPE html>
<html lang="en" xmlns:th="htttp://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>BookShop</title>
    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="nav-link" th:href="@{'/'}"> <i class="fas fa-home mx-1"></i> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topnav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/author'}">Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/book/getAvailable/0'}">Books available</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/book'}">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/category'}">Categories</a>
                </li>
                <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'/book/add'}">
                        <i class="fas fa-plus-circle"></i> Add Book
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto topnav">
                <li sec:authorize="hasAnyRole('ADMIN','USER')" class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'/basket/myBasket'}">
                        <i class="fa-solid fa-cart-shopping"></i> My Basket
                    </a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'/login'}">
                        <i class="fas fa-sign-in-alt"></i> Sign In
                    </a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'/user/form'}">
                        <i class="fas fa-user-plus"></i> Register
                    </a>
                </li>
                <li sec:authorize="hasAnyRole('ADMIN','USER')" class="nav-item">
                    <form id="logout-form" th:action="@{/logout}" method="post">
                        <button type="submit" class="nav-link btn-primary">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container">
    <table class="table table-hover ">
        <thead class="thead-inverse">
        <tr>
            <th sec:authorize="hasRole('ADMIN')">ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Year</th>
            <th>Volume</th>
            <th>Series Name</th>
            <th>Still exists?</th>
            <th sec:authorize="hasRole('ADMIN')">ID Author</th>
            <th sec:authorize="hasRole('ADMIN')">Edit</th>
            <th sec:authorize="hasRole('ADMIN')">Delete</th>
            <th sec:authorize="hasRole('ADMIN')">Add Author</th>
            <th sec:authorize="hasRole('ADMIN')">Add Categ</th>
        </tr>
        </thead>
        <tr th:each="book, stat : ${books}"
            th:class="${stat.odd}? 'table-light':''">
            <td sec:authorize="hasRole('ADMIN')" th:text="${book.id}">1</td>
            <td th:text="${book.name}">1</td>
            <td th:text="${book.price}">20.1</td>
            <td th:text="${book.year}">2000</td>
            <td th:text="${book.volume}">1</td>
            <td th:text="${book.series_name}">Series 1</td>
            <td th:text="${!book.is_deleted}">deleted 1</td>
            <td sec:authorize="hasRole('ADMIN')" th:text="${book.author != null} ? ${book.author.id} : ''"></td>

            <td sec:authorize="hasRole('ADMIN')"><a th:if="${!book.is_deleted}" href="#" th:href="@{'/book/update/' + ${book.id}}"><i class="fa-solid fa-pen"></i></a></td>
            <td sec:authorize="hasRole('ADMIN')"><a th:if="${!book.is_deleted}" href="#" th:href="@{'/book/delete/' + ${book.id}}"><i class="fa-solid fa-trash"></i></a></td>
            <td sec:authorize="hasRole('ADMIN')"><a th:if="${!book.is_deleted}" href="#" th:href="@{'/book/addAuthorToBook/' + ${book.id}}"><i class="fa-solid fa-gear"></i></a></td>
            <td sec:authorize="hasRole('ADMIN')"><a th:if="${!book.is_deleted}" href="#" th:href="@{'/book/addCategBook/' + ${book.id}}"><i class="fa-solid fa-pen-nib"></i></a></td>
        </tr>
    </table>
</div>


</body>
</html>