<!DOCTYPE html>
<html lang="en" xmlns:th="htttp://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>BookShop</title>
    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="nav-link" th:href="@{'/'}"> <i class="fas fa-home mx-1"></i> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topnav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/author'}">Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/book'}">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/category'}">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'/book/add'}">
                        <i class="fas fa-plus-circle"></i> Add Book
                    </a>
                </li>

            </ul>
            <ul class="navbar-nav ms-auto topnav">
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'/login'}">
                        <i class="fas fa-sign-in-alt"></i> Sign In
                    </a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'/user/form'}">
                        <i class="fas fa-user-plus"></i> Register
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<form enctype="multipart/form-data" method="post" th:action="@{/book/update}" th:object="${book}">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading text-center mt-3">
                <h3>Edit choosed book</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 ">
                <div class="form-row">
                    <label for="id">Id:</label>
                    <input id="id" class="form-control" th:field="*{id}" th:readonly="true"/>
                </div>
            </div>
        </div>
        <br>

        <div class="row justify-content-center">
            <div class="col-md-5 ">
                <div class="form-row">
                    <label for="name">Name:</label>
                    <input id="name" class="form-control" th:field="*{name}" type="text" placeholder="book name"/>
                    <label for="name" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"  class="text-danger">Error</label>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-5 ">
                <div class="form-row">
                    <label for="price">Price:</label>
                    <input id="price" class="form-control" th:field="*{price}" type="number" placeholder=100 required/>
                    <label for="price" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"  class="text-danger">Error</label>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-5 ">
                <div class="form-row">
                    <label for="year">Year:</label>
                    <input id="year" class="form-control" th:field="*{year}" type="number" placeholder=2000/>
                    <label for="year" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"  class="text-danger">Error</label>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-5 ">
                <div class="form-row">
                    <label for="volume">Volume:</label>
                    <input id="volume" class="form-control" th:field="*{volume}" type="number" placeholder=1/>
                    <label for="volume" th:if="${#fields.hasErrors('volume')}" th:errors="*{volume}"  class="text-danger">Error</label>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-5 ">
                <div class="form-row">
                    <label for="series_name">Series name:</label>
                    <input id="series_name" class="form-control" th:field="*{series_name}" type="text" placeholder="series name"/>
                </div>
            </div>
        </div>

        <!--        <div class="row justify-content-center">-->
        <!--            <div class="col-md-5 ">-->
        <!--                <div class="form-row">-->
        <!--                    <label for="author_id">Author id:</label>-->
        <!--                    <input id="author_id" class="form-control" th:field="*{author_id}" type="number" placeholder="author id"/>-->
        <!--                    <label for="author_id" th:if="${#fields.hasErrors('author_id')}" th:errors="*{author_id}">Error</label>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-1 ml-md-auto">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </div>
</form>

</body>
</html>