<!DOCTYPE html>
<html lang="en" xmlns:th="htttp://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BookShop</title>
    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="nav-link" th:href="@{'/'}"> <i class="fas fa-home mx-1"></i> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topnav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/author'}">Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/book'}">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/category'}">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'/book/add'}">
                        <i class="fas fa-plus-circle"></i> Add Book
                    </a>
                </li>

            </ul>
            <ul class="navbar-nav ms-auto topnav">
                <li class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'/login'}">
                        <i class="fas fa-sign-in-alt"></i> Sign In
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'/user/form'}">
                        <i class="fas fa-user-plus"></i> Register
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<form enctype="multipart/form-data" method="post" th:action="@{/book}" th:object="${book}">

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading text-center mt-3">
                <h3>Add new book</h3>
            </div>
        </div>

        <br>

        <div class="row justify-content-center">
            <div class="col-md-5 ">
                <div class="form-row">
                    <label>Name:</label>
                    <input id="name" class="form-control" th:field="*{name}" type="text" placeholder="book name"/>
                    <span class="help-block" th:if="${#fields.hasErrors('name')}">
                <p th:errors="*{name}" class="text-danger">name error</p>
                   </span>
<!--                    <label for="name" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</label>-->
                </div>
            </div>
        </div>

        <div class="row justify-content-center">

            <div class="col-md-5 ">
                <div class="form-row">
                    <label>Price:</label>
<!--                    <label th:if="${#fields.hasErrors('price')}" th:errors="*{price}" style="color: red;">Price Error</label>-->
                    <input class="form-control" th:field="*{price}" type="number" placeholder="price number"/>
<!--                    <span class="help-block" th:if="${!#fields.hasErrors('price')}">-->
<!--                <p th:errors="*{price}" class="text-danger">price error</p>-->
<!--                   </span>-->
                    <span class="help-block" th:if="${#fields.hasErrors('price')}">
                <p th:each="error : ${#fields.errors('price')}" class="text-danger" th:text="${error}">price error</p>
            </span>
                </div>
            
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-5 ">
                <div class="form-row">
                    <label for="year">Year:</label>
                    <input id="year" class="form-control" th:field="*{year}" type="number" placeholder="year"/>
                    <label for="year" th:if="${#fields.hasErrors('year')}" th:errors="*{year}" class="text-danger">Error</label>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-5 ">
                <div class="form-row">
                    <label for="volume">Volume:</label>
                    <input id="volume" class="form-control" th:field="*{volume}" type="number" placeholder="volume number"/>
                    <label for="volume" th:if="${#fields.hasErrors('volume')}" th:errors="*{volume}" class="text-danger">Error</label>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-5 ">
                <div class="form-row">
                    <label for="series_name">Series name:</label>
                    <input id="series_name" class="form-control" th:field="*{series_name}" type="text" placeholder="series name"/>
                </div>
            </div>
        </div>

    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-1 ml-md-auto">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </div>
</form>

</body>
</html>