<!-- home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
<h1>You create your own basket</h1>


<form enctype="multipart/form-data" method="post" th:action="@{/basket/createBask/{userId}(userId=${userId})}" th:object="${basket}">

    <div class="row justify-content-center mt-3">
        <div class="col-md-1 ml-md-auto">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </div>
</form>
</body>
</html>