<!DOCTYPE html>
<html lang="en" xmlns:th="htttp://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>BookShop</title>
  <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
  <script src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/webjars/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="nav-link" th:href="@{'/'}"> <i class="fas fa-home mx-1"></i> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto topnav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{'/author'}">Authors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{'/book/getAvailable'}">Books available</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{'/book'}">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{'/category'}">Categories</a>
        </li>
<!--        <li class="nav-item" th:if="${userId != 0}">-->
<!--          <a class="nav-link btn-primary" th:href="@{'/basket/createBasket/' + ${userId}}">-->
<!--            <i class="fas fa-plus-circle"></i> Add Basket-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          &lt;!&ndash;                    formular pentru adaugare carti&ndash;&gt;-->
<!--          <a class="nav-link btn-primary" th:href="@{'/book/form'}">-->
<!--            <i class="fas fa-plus-circle"></i> Add book-->
<!--          </a>-->
<!--        </li>-->
      </ul>
      <ul class="navbar-nav ms-auto topnav">
<!--        <li class="nav-item">-->
<!--          <a class="nav-link btn-primary" th:href="@{'/login'}">-->
<!--            <i class="fas fa-sign-in-alt"></i> Sign In-->
<!--          </a>-->
<!--        </li>-->
        <li class="nav-item">
          <a class="nav-link btn-primary" th:href="@{'/basket/myBasket'}">
            <i class="fa-solid fa-cart-shopping"></i> My Basket
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-primary" th:href="@{'/user/form'}">
            <i class="fas fa-user-plus"></i> Register
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
</body>
</html>
